footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 5px;
} 

.signoutbutton {
    float: right;
    margin-right: 5px;
    width: 100px;
    height: 35px;
} 

.aotdbutton {
    margin-left:30%;
    width: 100px;
    height: 35px;
}

.dropdown {
    margin-left: 5px; 
    text-align: center;
    width: 100px;
    height: 35px;
} 

.dropdowntf {
    float: left;
}

.signoutbutton:hover {
    transform: scale(1.05);
} 

option {
    background-color: white;
    color:black;
} 

header {
    width: 100%;
    position: fixed;
    display: grid;
    color:White;
    grid-template-columns: auto 1fr 1fr auto;
} 

header > h2 {
    text-align: center;
}

header > button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color:white;
    transition: 0.8s;
} 

.verticalline {
    border-left: 1px solid white;
    height: 66%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 23%;
}

.test1 {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width:100%;
    padding-top: 50px;
} 

.listcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
